.close-page{
    border-radius:50% !important;
    box-shadow: -9px 1px 25px 0px rgb(167, 165, 168);
}
body {
    letter-spacing: 0.7px;
}

.container {
    margin-top: 100px;
    margin-bottom: 100px
}

p {
    font-size: 14px
}

.close{

    border-radius:50% !important;
    box-shadow: 20px !important;

}
.cursor-pointer {
    cursor: pointer;
    color: #42A5F5
}

.pic {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-block {
    width: 200px;
    border: 1px solid lightgrey;
    border-radius: 5px !important;
    background-color: #FAFAFA;
    margin-bottom: 30px;
    padding: 5px !important;
}

.card-body.show {
    display: block
}

.card {
    padding-bottom: 40px;
    box-shadow: 2px 2px 6px 0px rgb(200, 167, 216)
}

.radio {
    display: inline-block;
    border-radius: 0;
    box-sizing: border-box;
    cursor: pointer;
    color:  0;
    font-weight: 500;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%)
}

.radio:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1)
}

.radio.selected {
    box-shadow: 0px 8px 16px 0px #EEEEEE;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    filter: grayscale(0%)
}

.selected {
    background-color: #d6d9db
}

.a {
    justify-content: center !important
}


.btn,
.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none !important
}

